<div id="wrapper">
  <body>
    <h3 id="main">Edit student: <%= @student.f_name %> <%= @student.l_name %></h3>
			<%= form_for @student, url: admin_student_path do |f| %>
				<div>
					<%= f.label :f_name %>
					<%= f.text_field :f_name %>
				</div>

				<div>
					<%= f.label :l_name %>
					<%= f.text_field :l_name %>
				</div>

				<div>
					<%= f.label :tag %>
					<%= f.text_field :tag %>
				</div>

				<div>
					<%= f.submit "Submit" %>
				</div>
			<% end %>
			<%= button_to "Delete this student", admin_student_path(@student),
			confirm: "Are you sure?",
			method: :delete %>
		</div>
	</body>
</div>
<div class="bottom_row">
  <ul id="bottom_row">
    <li><%= link_to "Back", :back, class: "mainbutton" %></li>
  </ul>
</div>
