<p> Welcome to <%= @location.name %>! Please sign in </p>
<div>
	<%= form_for ([@location, @event]) do |f| %>
	  <%= f.label :tag_id, "Tag ID" %>
	  <%= f.text_field :tag_id, autofocus: :true %>
		<%= f.submit "Check In" %>
	<% end %>
</div>
